/* Стили блока info */
.info {
  display: flex;
  justify-content: center;
  height: 100px;
  align-self: center;
}

/* Блок money */
.money {
  color: #fff;
  border: solid;
  border-radius: 5px;
  height: 80%;
  float: inline-start;
  padding: 2% 1% 0%;
}

/* Информация о погоде */
.weather-info {
  color: #fff;
  border: solid;
  border-radius: 5px;
  height: 80%;
  float: inline-end;
  padding: 1%;
}

/* Оформление элемента todo */
.item-todo {
  padding: 14px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      #2ea4db 100%);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 60%;
}

/* Стиль текста в блоке item-todo */
.item-todo .item-text {
  display: inline-block;
  cursor: pointer;
}

/* Иконка погоды */
.weather-info .weather-icon {
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 22px;
  position: relative;
  left: -4px;
  bottom: 5px;
}

/* Заголовок списка */
.list-header {
  color: aliceblue;
  size: 20px;
  padding-top: 1%;
}

/* Поле ввода */
input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 3px solid #5d0cff;
  outline: none;
  background: white;
}

/* Кнопка */
button {
  padding: 16px 7px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      #2ea4db 100%);
  color: #fff;
  text-transform: capitalize;
}

/* Иконка удаления */
.item-todo .item-delete {
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 22px;
  position: relative;
  left: -4px;
  bottom: 5px;
}

/* Класс strike применяется к зачёркнутому тексту */
.strike {
  text-decoration: line-through;
}

/* Глобальные стили для корневого элемента */
#root {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/img.webp");
  background-size: cover;
}